@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* ===== MODERN CSS RESET ===== */
*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
}


html {
    height: 100%;
}


body {
    min-height: 100%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}


input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


#root,
#__next {
    isolation: isolate;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}


:root {
    --grey-900: #868688;
    --primary: #2E6FF2;
    --black: #1F1F22;
    --info-500: #3B82F6;
    --black-pure: #000000;

    --border-radius: 0.375rem;
    --border-radius: 0.5rem;
}

.r6 {
    border-radius: var(--border-radius);
}
.r8 {
    border-radius: var(--border-radius);
}
.text-base {
    font-size: 1rem; 
    line-height: 1.5; 
    color: var(--grey-900);
}
.container {
    width: 100%;
    max-width: 61rem; 
    margin: 0 auto;
}





.rental-block{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:0.625rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    flex-wrap: wrap;
    padding: 1.375rem 0rem;
}
.rental-info{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
    gap: 0.875rem;
}
.rental-info p{
    /* padding: 0.375rem 0.875rem; */
    transition: color 0.3s ease;
    white-space: nowrap;    
}
/* .rental-info p + p::before {
    content: " / ";
} */
.rental-info p::after {
    content: " /";
    margin-left: 0.375rem;
}

.rental-info p:last-child::after {
    content: "";
}
.rental-info p:hover{
    color: var(--primary);
}
.rental-info p:first-child{
    /* padding: 0.375rem 0.875rem 0.375rem 0; */
}
.save-button{
    padding: 0.375rem 0.875rem;
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    transition: color 0.3s ease;
}
.save-button:hover{
    color: var(--primary)
}
.save-button__icon {
    width: 1.5rem; 
    height: 1.5rem; 
}

/* Адаптивные стили для экранов ≤ 925px */
@media (max-width: 925px) {
    .burger-btn {
        display: flex; 
    }    
    .menu_block {
        display: none ; 
    }
    .rental-block {
        flex-direction: column;
        align-items: stretch;
        gap: 1.5rem;
    }
    .rental-info p{
        gap: 0.375rem 0.875rem 0.375rem 0rem;
    }
    .save-button {
        align-self: flex-start;        
        padding: 0.125rem 0;
    }
}

@media (max-width: 399px) {
    .logo_block{
        max-width: 160px;
    }
}